// .bNone { border: none !important; }

// .cBoth { clear: both !important; }
// .cLeft { clear: left !important; }
// .cRight { clear: right !important; }
// .cNone { clear: none !important; }
// .curDefault { cursor: default !important; }
// .curPointer { cursor: pointer !important; }
// .curHelp { cursor: help !important; }

// .dNone { display: none !important; }
// .dBlock { display: block !important; }
// .dInlineBlock { display: inline-block !important; }
// .dInline { display: inline !important; }
// .dTableC { display: table-cell !important; }

// .fLeft { float: left !important; }
// .fRight { float: right !important; }
// .fNone { float: none !important; }

// .noMargin { margin: 0 !important; }
// .noMarginL { margin-left: 0 !important; }
// .noMarginR { margin-right: 0 !important; }
// .noMarginB { margin-bottom: 0 !important; }
// .noMarginT { margin-top: 0 !important; }
// .noPadding { padding: 0 !important; }

// .oHidden { overflow: hidden !important; }
// .oAuto { overflow: auto !important; }
// .oVisible { overflow: visible !important; }

// .pRelative { position: relative !important; }
// .pAbsoltue { position: absolute !important; }

// .tLeft { text-align: left !important; }
// .tRight { text-align: right !important; }
// .tCenter { text-align: center !important; }
// .tNormal { font-weight: normal !important; }
// .tBold { font-weight: bold !important; }
// .tDecNone { text-decoration: none !important; }
// .tUnderline { text-decoration: underline !important; }
// .t0 { font-size: 0; }

// .vHidden { visibility: hidden !important; }

// .wsNowrap { white-space: nowrap !important; }

@media (max-width: $screen-xs-max) {
    .col-xs-full-width {
        padding-left: 0;
        padding-right: 0;
    }
}

.project-color1 	{ color: $project-color1; }
.project-color1-bg 	{ background-color: $project-color1; }