<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}s7 Boilerplate{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

        {% comment %} ## Global style block ## {% endcomment %}
        {{ "all.css" | asset_url | stylesheet_tag }}

        {% comment %}<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->{% endcomment %}
        {% comment %}<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->{% endcomment %}
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% comment %} ## Style block allowing child pages to inject their own styles ## {% endcomment %}
        {% block styles %}{% endblock %}
    </head>
    <body>
        <a id="totop"></a>
        {% comment %}{% include "component/header" %}{% endcomment %}
        <main>
            {% comment %} Content block, child page inject content {% endcomment %}
            {% block content %}{% endblock %}
        </main>
        {% include "module/footer" %}

        {% comment %} ## Global script block ## {% endcomment %}
        {{ "jquery.js" | asset_url | script_tag }}
        {{ "bootstrap.js" | asset_url | script_tag }}
        {{ "components/to-top.js" | asset_url | script_tag }}
        {% comment %} ## Script block allowing child pages to inject their own scripts ## {% endcomment %}
        {% block scripts %}{% endblock %}
    </body>
</html>