<footer>
    <div class="container-fluid nav-footer hidden-print">
        {% include "component/to-top" %}
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="row">
                    <h3 class="col-sm-12">Service</h3>
                    <div class="col-sm-6">
                        <ul>
                            <li><a href="#">Kontakt &amp; Beratung</a></li>
                            <li><a href="#">Reisebürosuche</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Kataloge</a></li>
                            <li><a href="#">Gutscheine</a></li>
                            <li><a href="#">Benutzerkonto</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li><a href="#">Häufige Fragen</a></li>
                            <li><a href="#">Reiseversicherung</a></li>
                            <li><a href="#">Visum-Service</a></li>
                            <li><a href="#">Länderinformationen &amp; Einreise</a></li>
                            <li><a href="#">Ferienkalender</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <h3>Unternehmen</h3>
                <ul>
                    <li><a href="#">Karriere &amp; Ausbildung</a></li>
                    <li><a href="#">Nachhaltigkeit</a></li>
                    <li><a href="#">Presse</a></li>
                    <li><a href="#">Partner</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3">
                <h3>Reiseziele</h3>
                <ul>
                    <li><a href="#">Berlin</a></li>
                    <li><a href="#">Frankfurt</a></li>
                    <li><a href="#">Hamburg</a></li>
                    <li><a href="#">Köln</a></li>
                    <li><a href="#">Dresden</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <h3 class="col-xs-12">Newsletter</h3>
                    <div class="col-md-12 col-sm-6">
                        <form role="form">
                          <div class="form-group">
                            <label for="newsletter">Aktuell informiert mit dem Ameropa Newsletter!</label>
                            <input type="email" class="form-control" id="newsletter" placeholder="Ihre E-Mail-Adresse">
                            <button type="button" class="btn btn-link newsletter-btn"><i class="fa fa-chevron-right"></i></button>
                          </div>
                        </form>
                    </div>
                    <span class="social col-md-12 col-sm-6">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkicon">Erlebnis Ameropa</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr class="hidden-print">
    <div class="container-fluid hidden-print">
        <div class="row">
            <div class="col-sm-8">
                <div class="check">
                    <h3>Bei uns buchen Sie sicher und schnell</h3>
                    <ul class="row">
                        <li class="col-xs-6 col-sm-3">Sichere Datenübertragung mit SSL-Verschlüsselung</li>
                        <li class="col-xs-6 col-sm-3">Garantierter Schutz Ihrer persönlichen Daten</li>
                        <li class="col-xs-6 col-sm-3">Reise-Unterlagen direkt online ausdrucken</li>
                        <li class="col-xs-6 col-sm-3">Zahlen Sie per Lastschrift oder Kreditkarte</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-4">
                <h3>Hotelbewertungen von:</h3>
                <a href="#" target="_blank"><img src="{{ "170x27" | placeholder }}" alt="HolidayCheck"></a>
            </div>
        </div>
    </div>
    <hr class="hidden-print">
    <div class="container-fluid quicklinks hidden-print">
        <ul>
            <li><a href="#">AGB</a></li>
            <li><a href="#">Datenschutz</a></li>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
    </div>
</footer>