<div class="btn-group graphic-switch" data-toggle="buttons" id="flight-switch-text">
    <label class="btn active">
        <input  type="checkbox" autocomplete="off" checked data-checked-text="mit Flug" data-unchecked-text="ohne Flug"><span class="labelcontent">mit Flug</span>
    </label>
</div>